from distutils.command.build import build
from math import dist


.venv
*.png
/build
/dist
__pycache__

*.spec
save_file.py
test.py
image_grab.py
data/images

!background.png
!/examples/*.png
!/data/*/*.png